.hambuguer_btn {
    display: none;
}

.navbar_container {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    text-align: right;
    width: 30%;
}

.navbar_container:before {
    background-image: linear-gradient(to right, black, white);
    background-repeat: no-repeat;
    content: "";
    height: 100%;
    position: fixed;
    width: 30%;
}

.navbar {
    animation-name: fromLeftToRight;
    animation-duration: 3s;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar a:link {
    color: black;
    text-decoration: none;
}

.navbar a:visited {
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    background-color: transparent;
    text-decoration: underline;
}

.navbar a:hover::before {
    content: '» ';
    position: relative;
    text-decoration: none;
}

.active_section {
    font-style: italic;
}

.active_section::before {
    content: '» ';
    position: relative;
    text-decoration: none;
}

.social_media {
    display: inline-block;
    padding-top: 5px;
    width: 200px;
}

.social_media img {
    height: 25px;
    width: 25px;
}

.social_media a:first-of-type {
    height: 25px;
    padding-right: 5px;
    width: 25px;
}

.social_media img:hover {
    transform: rotate(360deg);
    transition: all .5s;
}

.social_media a:hover::before {
    content: '';
    text-decoration: none;
}

@keyframes fromLeftToRight {
    from {
        right: 100%;
        opacity: 0%;
    }

    to {
        right: 70%;
    }
}

@media (max-width: 599px) {
    .hambuguer_btn {
        background-color: white;
        border: none;
        border-radius: 10px;
        display: block;
        font-size: 3rem;
        font-weight: 700;
        margin: 0 0 0 3%;
        position: fixed;
        z-index: 4;
    }

    .hambuguer_btn:focus {
        outline: none;
    }

    .navbar_container::before {
        display: none;
    }

    .navbar_container {
        background-color: white;
        box-shadow: 1px 0 30px 10px black;
        display: none;
        height: 100vh;
        position: fixed;
        text-align: right;
        width: 50%;
        z-index: 2;
    }

    .navbar {
        /* animation: none; */
        margin: 0 10px 0 -10px;        
    }

    .open {
        display: flex;
    }

    @keyframes fromLeftToRight {
        from {
            right: 100%;
            opacity: 0%;
        }
    
        to {
            right: 50%;
        }
    }
}