.navbar_container {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    text-align: right;
    width: 30%;
}

.navbar_container:before {
    background-image: linear-gradient(to right, black, white);
    background-repeat: no-repeat;
    content: "";
    position: fixed;
    height: 100%;
    width: 30%;
}

.navbar {
    position: fixed;    
    z-index: 1;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:hover::before {
    content: '» ';
    position: relative;
    text-decoration: none;
}

.active_section {
    font-style: italic;
}

.active_section::before {
    content: '» ';
    position: relative;
    text-decoration: none;
}

.social_media img {
    height: 25px;
    padding: 3px 3px;
    width: 25px;
}

.social_media img:hover{
    height: 30px;
    padding: 0;
    transform: rotate(360deg);
    transition: all .3s;
    width: 30px;
}

.social_media a:hover::before {
    content: '';
    text-decoration: none;
}
