main {
    display: flex;
}

/* FONTE: https://stackoverflow.com/a/44327660/18172843 */
section:before {
    background-image: linear-gradient(to right, white, cyan, black);
    background-repeat: no-repeat;
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}

section {
    display: flex;
    overflow: overlay;
    width: 70%;
}

section a:link {
    background: linear-gradient(180deg, transparent, white);
    background-attachment: scroll;
    background-image: linear-gradient(transparent, white);
    background-size: 100% 2px;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 10px;
    color: black;
    font-style: italic;
    padding: 0 1% 0 1%;
    text-decoration: none;
    transition: background-size 1s;
}

section a:active {
    background-size: 100% 100%;
}

section a:visited {
    color: black;
}

section a:hover {
    background-size: 100% 100%;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

h1 {
    font-weight: 600;
    font-size: large;
    padding-bottom: 2px;
}

h2 {
    font-style: italic;
}

hr {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.5);
    width: 60%;
}

.main-container {
    align-self: center;
    display: grid;
    height: 100vh;
    margin: 0 auto;
    width: 50%;
}

.about-container,
.contact-container,
.home-container,
.not-found-container,
.projects-container,
.skill-container {
    align-self: center;
    animation-duration: 3s;
    animation-name: fromThePitToThePinnacle;
    padding-bottom: 10%;
    padding-top: 10%;
}

.text-italic {
    font-style: italic;
}

@keyframes fromThePitToThePinnacle {
    from {
        margin-top: 100%;
        opacity: -100%;
    }

    to {
        margin-top: 0;
    }
}